<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gallery</title>
</head>
<body>

        <section class="hero">
        <div class="hero-content">
        <h1>Welcome to SJC FITNESS CLUB</h1>
        <h6>Your Fitness Journey Starts Here</h6 >
        <div class="buttons">
            <a href="/templates/services.html" class="btn-outline">View Services</a>
            <a href="/templates/index.html" class="btn-outline">Home</a>
            <a href="/templates/contact.html" class="btn-outline">Contact Us</a>
        </div>
        </div>
    </section>

      <!-- Gallery -->
  <section id="gallery" class="section">
    <div class="container">
      <h2>Gallery</h2>
      <p>(Insert gym images here)</p>
    </div>
  </section>
</body>
</html>