<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SJC Club - Gym & Fitness</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

  
  <header>
    <div class="container">
      <h1 class="logo">SJC FITNESS CLUB</h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/templates/about.html">About</a></li>
          <li><a href="/templates/services.html">Services</a></li>
          <li><a href="/templates/contact.html">Contact</a></li>
          <li><a href="/templates/gallery.html">Gallery</a></li>
          <li><a href="/templates/login.html">Login</a></li>
          <li><a href="/templates/register.html">Register</a></li>
        </ul>  
      </nav>
    </div>
  </header>

  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h1>Welcome to SJC FITNESS CLUB</h1>
      <h6>Your Fitness Journey Starts Here</h6 >
      <div class="buttons">
        <a href="/templates/services.html" class="btn-outline">View Services</a>
        <a href="/templates/contact.html" class="btn-outline">Contact Us</a>
        <a href="/templates/gallery.html" class="btn-outline">Our Gallery</a>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="container">
      <p>&copy; 2025 SJC Club. All Rights Reserved.</p>
    </div>
  </footer>

</body>
</html>
