<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <section class="hero">
        <div class="hero-content">
        <h1>SERVICES - SJC FITNESS CLUB</h1>
        <h6>Discover a full range of fitness services</h6 >
        <div class="buttons">
            <a href="{{ url_for('about')}}" class="btn-outline">About us</a>
            <a href="{{ url_for('home')}}" class="btn-outline">Home</a>
            <a href="{{url_for('contact')}}" class="btn-outline">Contact Us</a>
        </div>
        </div>
    </section>

      <!-- Classes -->
  <section id="classes" class="section bg-dark">
    <div class="container">
      <h1>OUR SERVICES</h1>
      <h5>At SJC FITNESS CLUB, we offer a wide range of fitness services mentioned below including personal coaching, and more — all designed to help you achieve your goals</h5>
      <div class="grid">
        <div class="card">Bodybuilding</div>
        <div class="card">Cardio Training</div>
        <div class="card">Yoga & Stretching</div>
        <div class="card">HIIT</div>
        <div class="card">Personal Training</div>
        <div class="card">Women’s Fitness</div>
      </div>
    </div>
  </section>
</body>
</html>